<li>
    <p>
        <% if( locals.user && (comment.user.id==locals.user.id || post.user.id==locals.user.id )){ %>
            <small>
                <a href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
            <% } %>
                <%=comment.comment %>
                    <b> <small>
                            <%=comment.user.name %>
                        </small></b>
    </p>
</li>