<header>
    Page header

    <ul>
        <% if(locals.user){ %>
            <li>
                <%= user.name %>
            </li>
            <a href="/users/sign-out">SignOut</a>
            <% }else{ %>
                <li><a href="/users/signin">signIn</a></li>
                <li><a href="/users/signup">signUp</a></li>
                <% } %>
    </ul>
</header>